{
  debug
  http_port {$PORT}
  https_port {$TLS_PORT}

  servers {
    protocols h1 h2 h2c
  }
}

:{$PORT} {
    reverse_proxy {
      to {$SERVICE_URL}
      transport http {
          versions 1.1 h2c
      }
    }
}

:{$TLS_PORT} {
    reverse_proxy h2c://{$SERVICE_URL}
}
